# cryStal isles
serverMap=CrystalIsles

# ARK cluster ID
arkopt_clusterid="z.2022"

# ARK server specific settings
ark_SessionName=z.syanna
ark_Port=10019
ark_QueryPort=37018
ark_RCONPort=37019
ark_AltSaveDirectoryName=clusters/syanna

# Combine Global/Cluster specific settings
source ${arkstGlobalCfgFile%/*}/global.settings.cfg
source ${arkstGlobalCfgFile%/*}/cluster/cluster.settings.cfg
