# the Island
serverMap=TheIsland

# ARK cluster ID
arkopt_clusterid="z.2022"

# ARK server specific settings
ark_SessionName=z.iyanna
ark_Port=10013
ark_QueryPort=37012
ark_RCONPort=37013
ark_AltSaveDirectoryName=clusters/iyanna

# Combine Global/Cluster specific settings
source ${arkstGlobalCfgFile%/*}/global.settings.cfg
source ${arkstGlobalCfgFile%/*}/cluster/cluster.settings.cfg
