# the Center
serverMap=TheCenter

# ARK cluster ID
arkopt_clusterid="z.2022"

# ARK server specific settings
ark_SessionName=z.cyanna
ark_Port=10009
ark_QueryPort=37008
ark_RCONPort=37009
ark_AltSaveDirectoryName=clusters/cyanna

# Combine Global/Cluster specific settings
source ${arkstGlobalCfgFile%/*}/global.settings.cfg
source ${arkstGlobalCfgFile%/*}/cluster/cluster.settings.cfg
